<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- VERY IMPORTANT NOTE - FOR DEBUG WINDOWS SERVICE YOU MUST CHANGE THE VALUE SETTING IN THE WCF.Service.Host.exe.config, they will not get compiled!! -->
  <configSections>
    <section name="serviceSettings" type="LayrCake.WCFServiceHost.ServiceConfigurationSection, LayrCake.WCFServiceHost, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <!--<section name="expressionSettings" type="ExpressionSerialization.ExpressionConfigurationSection, ExpressionSerialization, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />-->
    <section name="expressionSettings" type="Serialize.Linq.LayrCakeCustom.ExpressionConfigurationSection, Serialize.Linq, Version=1.2.4.0, Culture=neutral, PublicKeyToken=25bcc11ba213b377"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="Debug" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="EFConfig_ConnStr" value="DataVisualizerEntitiesConnection"/>
    <add key="EFTracingProvider.logToFile" value="sqllog.txt"/>
  </appSettings>
  <serviceSettings>
    <services>
      <add name="LayrCake.ActionService" serviceType="LayrCake.ActionService.ServiceImplementations.ActionService, LayrCake.ActionService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" servicePath="C:\_MacBookRepo\trunk\DataVisualiser\_Debug"/>
    </services>
  </serviceSettings>
  <expressionSettings>
    <expressions>
      <add name="LayrCake.ActionService" assemblyName="LayrCake.ActionService" lookupNamespace="LayrCake.ActionService.DataTransferObjects.Implementation" suffixRemove="Vwm" suffixReplace="Dto"/>
    </expressions>
  </expressionSettings>
  <connectionStrings>
    <add name="Elmah_ErrorLog" connectionString="Data Source=LAYRCAKE_MACB;Initial Catalog=Elmah;Persist Security Info=True;" providerName="System.Data.SqlClient"/>
    <add name="DataVisualizerEntitiesConnection" connectionString="Data Source=LAYRCAKE_MACB;Initial Catalog=DataVisualizer;Persist Security Info=True;User ID=DatabaseUnitTest;Password=Str33tfighter9!;MultipleActiveResultSets=True;Integrated Security=False;Pooling=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.diagnostics>
    <sources>
      <!--<source name="System.ServiceModel" switchValue="All">
        <listeners>
          <add name="System.ServiceModel.XmlTrace.Listener" />
        </listeners>
      </source>-->
      <!--<source name="System.Runtime.Serialization" switchValue="All">
        <listeners>
          <add name="System.Runtime.Serialization.XmlTrace.Listener" />
        </listeners>
      </source>-->
        <!--
       --><!--Old original LogFile source
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.ServiceModel.XmlTrace.Listener" initializeData="D:\TraceLogs\WcfServiceHost\Traces.svclog" />
        </listeners>
      </source>-->
    </sources>
    <sharedListeners>
      <add type="Infrastructure.Tools.Diagnostics.RollingXmlWriterTraceListener, Infrastructure" name="System.ServiceModel.XmlTrace.Listener" traceOutputOptions="None" initializeData="D:\TraceLogs\WCFServiceHost.ServiceModel.svclog"/>
      <add type="Infrastructure.Tools.Diagnostics.RollingXmlWriterTraceListener, Infrastructure" name="System.Runtime.Serialization.XmlTrace.Listener" traceOutputOptions="None" initializeData="D:\TraceLogs\WCFServiceHost.Runtime.Serialization.svclog"/>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <protocolMapping>
      <remove scheme="http"/>
      <add scheme="http" binding="wsHttpBinding"/>
    </protocolMapping>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_Default" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="00:05:00"/> 
          <security mode="None"/>
          <!--<security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>-->
        </binding>
        <!--<binding name="bindingAction" receiveTimeout="01:00:00" sendTimeout="01:00:00" transactionFlow="false" maxReceivedMessageSize="52428800">
          <reliableSession enabled="true" />
        </binding>-->
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WsHttpBinding_Default" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" transactionFlow="true" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <!--messageEncoding="Mtom"-->
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="01:00:00" enabled="true"/>
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="UnsecureServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" policyVersion="Policy15"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
        <behavior name="behaviorAction">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceTimeouts transactionTimeout="00:05:00"/>
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" maxConcurrentInstances="2147483647"/>
        </behavior>
        <behavior name="LiveBehaviour">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="false"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceTimeouts transactionTimeout="00:05:00"/>
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" maxConcurrentInstances="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="LayrCake.ActionService.ServiceImplementations.ActionService" behaviorConfiguration="UnsecureServiceBehavior">
        <endpoint binding="wsHttpBinding" bindingConfiguration="WsHttpBinding_Default" contract="LayrCake.ActionService.ServiceContracts.IActionService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <!--<host>
          <baseAddresses>
            <add baseAddress="http://localhost:8735/Design_Time_Addresses/LayrCake" />
          </baseAddresses>
        </host>-->
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.0.142:8736/DataVisualizer"/>
          </baseAddresses>
        </host>
      </service>
      <!--<service behaviorConfiguration="UnsecureServiceBehavior" name="LayrCake.ActionService.ServiceImplementations.ActionService">
        <endpoint binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Default" contract="LayrCake.ActionService.ServiceContracts.IActionService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8735/Design_Time_Addresses/LayrCake" />
          </baseAddresses>
        </host>
      </service>-->
      <!--<service behaviorConfiguration="behaviorAction" name="LayrCake.ActionService.ServiceImplementations.ActionService">
        <endpoint binding="wsHttpBinding" bindingConfiguration="bindingAction" contract="LayrCake.ActionService.ServiceContracts.IActionService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8735/Design_Time_Addresses/LayrCake" />
          </baseAddresses>
        </host>
      </service>enabled="true" bypassProxyOnLocal="false"messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"  allowCookies="false"-->
    </services>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true">
      <baseAddressPrefixFilters>
        <clear/>
        <add prefix="http://www.MedicsAway.com"/>
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <!--
    The system.webServer section is required for running ASP.NET AJAX under Internet
    Information Services 7.0. It is not necessary for previous versions of IIS.
  -->
  <system.webServer>
    <handlers>
      <!--<add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" preCondition="integratedMode" type="Elmah.ErrorLogPageFactory, Elmah" />-->
      <add name="ELMAH" verb="POST,GET,HEAD" path="elmah/default.aspx" type="Elmah.ErrorLogPageFactory, Elmah"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <!--<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
      <add name="ErrorTweet" type="Elmah.ErrorTweetModule, Elmah" />-->
    </modules>
  </system.webServer>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <elmah>
    <security allowRemoteAccess="0"/>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="Elmah_ErrorLog"/>
    <errorMail from="hugh.proctor@gmail.com" to="hugh.proctor@gmail.com" subject="TravelCompany Error Test" priority="High" async="false" smtpPort="587" smtpServer="smtp.gmail.com" useSsl="true" userName="hugh.proctor@gmail.com" password="Str33tfighter9!" noYsod="true"/>
  </elmah>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="DEBUG"/>
        <arg key="showLogName" value="true"/>
        <arg key="showDataTime" value="true"/>
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff"/>
      </factoryAdapter>
    </logging>
  </common>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.2.1.0" newVersion="3.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <defaultProxy>
      <proxy bypassonlocal="False" usesystemdefault="True" proxyaddress="http://127.0.0.1:8736"/>
    </defaultProxy>
  </system.net>
</configuration>
